*{
	margin: 0;
	padding: 0;
}
.header{
	min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://user-images.githubusercontent.com/80787207/162566446-65eeb41b-cea0-40f8-9e29-c0173bd77de9.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
